<h1>新規投稿</h1>

<% if @list.errors.any? %> <!--errorsは、発生したエラーの内容を確認できるメソッドです。any? と組み合わせると、エラーが発生しているかどうかを判定できる。-->
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %> <!--エラーの数だけメッセージ繰り返してくれる-->
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


 <%= form_with model: @list, url: '/lists', methood: :post do |f| %> 
 <!--@の後ろが大文字なのか小文字なのかが違うだけで合わなくなる-->

  <h4>タイトル</h4>
  <%= f.text_field :title %>
 
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <!--文字通り、ファイルの投稿をするためのフィールド.
  本来は画像ファイル以外の全てのファイル(音声ファイルや動画ファイルなど)も投稿OK
  今回はaccept: "image/*"をつける事で画像のみに指定している-->
  
  <%= f.submit '投稿' %>
  
  <% end %>